<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | relative_url }}">Projects</a>
        <a class="nav-link" href="{{ '/#essays' | relative_url }}">Essays</a>
        <a class="nav-link" href="{{ '/resume.html' | relative_url }}">Resume</a>
      </ul>
    </div>
  </div>
</header>
